/**
shadow
*/

.active {
  box-shadow: 0px 4px #fa71cd;
}

.active-route {
  border-bottom: solid 4px #fa71cd;
}

.text-link {
  color: inherit;
  text-decoration: none;
}

.eye {
  position: absolute;
  right: 0px;
  top: 45%;
}

.w-95 {
  width: 95%;
}

.spinner {
  width: 60px;
  height: 60px;
  background-color: #fa71cd;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--gray-400);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--medium-gray);
}

/**
gradients
*/

.gradient-btn {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.gradient-1 {
  background-image: linear-gradient(to right, #a18cd1 0%, #fbc2eb 100%);
}

.gradient-2 {
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}

.gradient-3 {
  background-image: linear-gradient(
    to top,
    #ff9a9e 0%,
    #fecfef 99%,
    #fecfef 100%
  );
}
.gradient-bg {
  background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
}

.gradient-4 {
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

.gradient-5 {
  background-image: linear-gradient(
    to top,
    #fdcbf1 0%,
    #fdcbf1 1%,
    #e6dee9 100%
  );
}

.gradient-6 {
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.gradient-7 {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.gradient-8 {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.gradient-9 {
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}

.gradient-10 {
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
}

.gradient-11 {
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

.gradient-12 {
  background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
}

.gradient-dark {
  background: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%),
    linear-gradient(
      to top,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(0, 0, 0, 0.25) 200%
    );
  background-blend-mode: multiply;
}

/* //10 12 16 25 36 46 56 69 152 157bg 168 */
